/* ClothesList.css */


.heading{
    text-align: center;
}

.clothes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cloth-card {
    border: 2px solid #0a0303;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 200px; /* Adjust as needed */
  }
  
  .cloth-card img {
    width: 100%;
    height: auto;
  }
  